<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Tarefa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Adicionar Tarefa</h1>
        <form th:action="@{/save-task}" method="post" th:object="${task}">
            <div>
                <label for="title">Título</label>
                <input type="text" id="title" name="title" th:field="*{title}" required>
            </div>
            <div>
                <label for="description">Descrição</label>
                <textarea id="description" name="description" th:field="*{description}"></textarea>
            </div>
            <div>
                <label for="dueDate">Data de Vencimento</label>
                <input type="date" id="dueDate" name="dueDate" th:field="*{dueDate}">
            </div>
            <div>
                <label for="completed">Concluída</label>
                <input type="checkbox" id="completed" name="completed" th:field="*{completed}">
            </div>
            <div class="button-group">
                <button type="submit">Criar Tarefa</button>
                <a class="button" th:href="@{/tasks}">Voltar para Lista de Tarefas</a>
            </div>
        </form>
    </div>
</body>
</html>
