<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Tarefa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Editar Tarefa</h1>
        <form th:action="@{/update-task}" th:object="${task}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div>
                <label for="title">Título:</label>
                <input type="text" id="title" th:field="*{title}" />
            </div>
            <div>
                <label for="description">Descrição:</label>
                <textarea id="description" th:field="*{description}"></textarea>
            </div>
            <div>
                <label for="dueDate">Data de Vencimento:</label>
                <input type="date" id="dueDate" th:field="*{dueDate}" />
            </div>
            <div>
                <label for="completed">Concluída:</label>
                <input type="checkbox" id="completed" th:field="*{completed}" />
            </div>
            <div class="button-group">
                <button type="submit">Atualizar Tarefa</button>
                <a class="button" th:href="@{/tasks}">Voltar para Lista de Tarefas</a>
            </div>
        </form>
    </div>
</body>
</html>
