<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Lista de Tarefas</h1>
        <ul class="task-list">
            <li th:each="task : ${tasks}" class="task-item">
                <div class="task-info">
                    <p><strong>Título:</strong> <span th:text="${task.title}">Título da Tarefa</span></p>
                    <p><strong>Descrição:</strong> <span th:text="${task.description}">Descrição da Tarefa</span></p>
                    <p><strong>Data de Vencimento:</strong> <span th:text="${task.dueDate}">Data de Vencimento</span></p>
                    <p><strong>Conclusão:</strong> <span th:text="${task.completed ? 'Concluída' : 'Não Concluída'}"></span></p>
                </div>
                <div class="task-actions">
                    <a class="button" th:href="@{/edit-task/{id}(id=${task.id})}">Editar</a>
                    <form th:action="@{/delete-task/{id}(id=${task.id})}" method="post" style="display:inline;">
                        <button type="submit">Apagar</button>
                    </form>
                </div>
            </li>
        </ul>
        <div class="button-group">
            <a class="button" th:href="@{/add-task}">Adicionar Tarefa</a>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Sair</button>
            </form>
        </div>
    </div>
</body>
</html>
